/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --base-dark-green: #508a7b;
  --base-light-green: #c3d7d2;
  --base-light-tan: #d08d63;
}

body {
  background-color: #fafafa;
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px;
}

main {
  max-width: 760px;
  height: 80vh;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--base-light-tan);
  overflow: hidden;
  border-bottom: 10px solid var(--base-dark-green);
}

h1,
h2 {
  margin: 0 0 5px 0;
}


section {
  padding: 20px;
}

ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 5px 0;
}

li::marker {
  color: var(--base-light-green);
}

a,
a:visited {
  color: var(--base-dark-green);
  text-decoration: none;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

